DATABASE_URL=postgresql://postgres:postgres@localhost:5432/menuhub_v2?schema=public
PAYMENT_PROVIDER=mock
PAYMENT_CARD_MODE=mock
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_NOTIFICATION_URL=
MERCADO_PAGO_WEBHOOK_SECRET=
