# WEB V2 - HML example
NODE_ENV=production
PORT=3112

NEXT_PUBLIC_API_V2_URL=https://api-hml.menuhub.net.br
NEXT_PUBLIC_API_V2_WS_URL=https://api-hml.menuhub.net.br
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=

# Mock context (while auth is not integrated)
NEXT_PUBLIC_MOCK_COMPANY_ID=company-demo
NEXT_PUBLIC_MOCK_BRANCH_ID=branch-demo
