# WEB V2 - PRD example
NODE_ENV=production
PORT=3112

NEXT_PUBLIC_API_V2_URL=https://api.menuhub.net.br
NEXT_PUBLIC_API_V2_WS_URL=https://api.menuhub.net.br
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=

# Context defaults (until full auth)
NEXT_PUBLIC_MOCK_COMPANY_ID=company-prod
NEXT_PUBLIC_MOCK_BRANCH_ID=branch-prod
